---
import Layout from '../layouts/Layout.astro';
import CourseDialog from "../components/CourseDialog.astro";
import StudyPlanGrid from "../components/StudyPlanGrid.astro";
import {$studyPlan, fetchStudyPlan} from "../stores/studyPlan";
import CourseCard from "../components/CourseCard.astro";
await fetchStudyPlan(1);

const studyPlan = $studyPlan.get();
if (!studyPlan) return;
const {
    program,
    courses,
    track,
    year,
    sections
} = studyPlan;
---

<Layout>
    <div class="flex flex-col gap-6 p-6 min-w-screen min-h-screen max-w-screen-2xl mx-auto border">
        <section class="flex flex-col sm:flex-row gap-2">
            <header class="flex flex-col gap-2">
                <h1 class="text-2xl font-bold">{program.degree}s in {program.name} ({program.code})</h1>
                <h2 class="opacity-60">
                    {year}/{year + 1}
                    {track ? ` - ${track}` : ''}
                </h2>
            </header>
        </section>

        <StudyPlanGrid sections={sections} courses={courses} program={program}/>

        <div class="flex flex-col text-center text-sm space-y-2 mx-auto">
            <h1 class="font-semibold">Click/tap a course to highlight its...</h1>
            <div class="flex gap-2 justify-center items-center flex-wrap">
                <div class="p-2 pl-3 pr-4 rounded bg-yellow-200 flex justify-between gap-2">
                    <i data-lucide="arrow-big-left-dash" /> Prerequisite Sequence
                </div>
                <div class="p-2 pl-3 pr-4 rounded bg-orange-300 flex justify-between gap-2">
                    <i data-lucide="arrow-big-left" /> Prerequisite
                </div>
                <div class="p-2 pl-3 pr-4 rounded bg-gray-400 text-white flex justify-between gap-2">
                    <i data-lucide="arrow-big-up" /> Corequisite
                </div>
                <div class="p-2 pl-3 pr-4 rounded bg-sky-800 text-white flex justify-between gap-2">
                    <i data-lucide="arrow-big-right-dash" /> Postrequisite Sequence
                </div>
            </div>
        </div>
    </div>

    <CourseDialog/>
</Layout>

<script>
    import {
        createIcons,
        MoveRight,
        MoveLeft,
        Info,
        ChevronLast,
        ChevronFirst,
        ChevronDown,
        Search,
        X,
        CircleHelp,
        FileText,
        ArrowBigRightDash,
        ArrowBigLeftDash,
        ArrowBigLeft,
        ArrowBigUp
    } from "lucide";

    createIcons({
        icons: {
            MoveRight,
            MoveLeft,
            Info,
            ChevronLast,
            ChevronFirst,
            ChevronDown,
            Search,
            X,
            CircleHelp,
            FileText,
            ArrowBigRightDash,
            ArrowBigLeftDash,
            ArrowBigLeft,
            ArrowBigUp
        }
    });
</script>
