---
import Layout from '../layouts/Layout.astro';
import CourseDialog from "../components/CourseDialog.astro";
import StudyPlanGrid from "../components/StudyPlanGrid.astro";
import {$studyPlan, fetchStudyPlan} from "../stores/studyPlan";
await fetchStudyPlan(1);

const studyPlan = $studyPlan.get();
if (!studyPlan) return;
const {
    program,
    courses,
    track,
    year,
    sections
} = studyPlan;
---

<Layout>
    <div class="flex flex-col gap-2 sm:gap-4 p-6 min-w-screen min-h-screen max-w-screen-2xl mx-auto border">
        <section class="flex flex-col sm:flex-row gap-2">
            <header class="flex flex-col gap-2">
                <h1 class="text-2xl font-bold">{program.degree}s in {program.name} ({program.code})</h1>
                <h2 class="opacity-60">
                    {year}/{year + 1}
                    {track ? ` - ${track}` : ''}
                </h2>
            </header>

            <div class="flex sm:ml-auto gap-2 text-nowrap p-2 text-sm justify-between">
                <div class="flex my-auto gap-2 hover:text-gray-600 rounded size-fit p-2 cursor-pointer">
                    <i data-lucide="info" class="size-5" /> <p>View Details</p>
                </div>
                <div class="flex my-auto gap-2 p-2 cursor-pointer hover:text-gray-600">
                    <i data-lucide="circle-help" class="size-5" /> <p>How to Use</p>
                </div>
            </div>
        </section>

        <StudyPlanGrid sections={sections} courses={courses} program={program}/>
    </div>

    <CourseDialog/>
</Layout>

<script>
    import {createIcons, MoveRight, MoveLeft, Info, ChevronLast, ChevronFirst, ChevronDown, Search, X, CircleHelp} from "lucide";

    createIcons({icons: {MoveRight, MoveLeft, Info, ChevronLast, ChevronFirst, ChevronDown, Search, X, CircleHelp}});
</script>
